---
http_interactions:
- request:
    method: get
    uri: https://api.staging.thedeka.com/v1/organizations/d6aac94c-5a71-4799-9c28-19fab0c95761/families?page%5Bnumber%5D=1&page%5Bsize%5D=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIzNiIsImp0aSI6Ijk1ZWQ3YjBmMWNmZTFhMmU1MTcyNGMwOWM0ZjUwYzNmZDhmNzg4ZWQxNTc1NDA2NTY5MmMzZGZhZGQxYmQzYjg4ZWM2ZWY2MDZjMzlmZTg3IiwiaWF0IjoxNjI4MTIzOTQyLjcyMzM5NCwibmJmIjoxNjI4MTIzOTQyLjcyMzM5OCwiZXhwIjoxNjU5NjU5OTQyLjcxNTY2LCJzdWIiOiIxIiwic2NvcGVzIjpbInZpZXctZmFtaWxpZXMiLCJ2aWV3LW9yZ2FuaXphdGlvbiIsInZpZXctdXNlcnMiLCJ2aWV3LXRyYW5zYWN0aW9ucyIsInZpZXctcHVycG9zZXMiXX0.CUseZZWXHd9BYPztxqNiHIl1ivTyZcB8NGSVgUSpwRe2zCS8PPl9Q8ir9jk-8RghgyYQUGZmXGVjsRGq5s_XxJrbz-yoN4tZ4xIuhxYkSbrzn79ZiYUdYjI9XHqc4ZAGbU6AvQgs9TEQnkyTMf0k-jKzkhJLJIsouRgfYuzNraU82wwgWRjp7LQILcPLducye0t9r5C-cDIUQnX-9kzo7xjoJAx__Ymm2085LwwFpgZpOAXcwMsV8VaxXQqO-Ixqhh3PW9KkPr87ENehQKu_xyS6dIfXQXJfqkvxoi_HL7n6d3Cxbzn-fqnnqCM9QssWxE6MUb7YLctYNDoDxVmQpueBfTYWvw-wYDFB1585s-rMKYGznhu57PqwuhW4yP18JFDvXr5zO7KwWm6LcXVSnmCnSyzadWDbOjH_TDywSPynIfWnp0QBY3NPQ_UKJqY1RadRl-YyE3HXeuquhZ7lZB6qPPU9xKgT0o76q25CrsYeYn2RtTmKJcDX9GAoVYC6D7P3UfRdBQhhTdbIzCXONuNF5Wb6Q7YgsD9z1Ej3g5TSf1xHbuffX4szKRWqSYdbCe-72vWSqmuatT5vps0aojpRrR9Pp3P6y7o1dS8U7fdXUVyfLtlzof5PBU3t6wlkjugbs5-cu8gvQNCxu_qMCkMvHyEXItGKHEluLIKPQrU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '60'
      x-ratelimit-remaining:
      - '57'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":6,"name":"Conroy II","primary_contact":1,"created_at":"2021-06-15T14:56:15.000000Z","updated_at":"2021-06-15T14:56:15.000000Z","deleted_at":null},{"id":7,"name":"Auer","primary_contact":2,"created_at":"2021-06-15T14:56:15.000000Z","updated_at":"2021-06-15T14:56:15.000000Z","deleted_at":null},{"id":8,"name":"Pfeffer","primary_contact":3,"created_at":"2021-06-15T14:56:15.000000Z","updated_at":"2021-06-15T14:56:15.000000Z","deleted_at":null},{"id":9,"name":"Emard","primary_contact":4,"created_at":"2021-06-15T14:56:15.000000Z","updated_at":"2021-06-15T14:56:15.000000Z","deleted_at":null},{"id":10,"name":"Hagenes","primary_contact":5,"created_at":"2021-06-15T14:56:15.000000Z","updated_at":"2021-06-15T14:56:15.000000Z","deleted_at":null},{"id":11,"name":"Crooks","primary_contact":6,"created_at":"2021-06-15T14:56:15.000000Z","updated_at":"2021-06-15T14:56:15.000000Z","deleted_at":null},{"id":12,"name":"Stark","primary_contact":7,"created_at":"2021-06-15T14:56:15.000000Z","updated_at":"2021-06-15T14:56:15.000000Z","deleted_at":null},{"id":13,"name":"O''Connell","primary_contact":8,"created_at":"2021-06-15T14:56:15.000000Z","updated_at":"2021-06-15T14:56:15.000000Z","deleted_at":null},{"id":14,"name":"Crist
        II","primary_contact":9,"created_at":"2021-06-15T14:56:15.000000Z","updated_at":"2021-06-15T14:56:15.000000Z","deleted_at":null},{"id":15,"name":"Jacobi","primary_contact":10,"created_at":"2021-06-15T14:56:15.000000Z","updated_at":"2021-06-15T14:56:15.000000Z","deleted_at":null}],"links":{"first":"https:\/\/api.staging.thedeka.com\/v1\/organizations\/d6aac94c-5a71-4799-9c28-19fab0c95761\/families?page%5Bsize%5D=10&page%5Bnumber%5D=1","last":"https:\/\/api.staging.thedeka.com\/v1\/organizations\/d6aac94c-5a71-4799-9c28-19fab0c95761\/families?page%5Bsize%5D=10&page%5Bnumber%5D=6","prev":null,"next":"https:\/\/api.staging.thedeka.com\/v1\/organizations\/d6aac94c-5a71-4799-9c28-19fab0c95761\/families?page%5Bsize%5D=10&page%5Bnumber%5D=2"},"meta":{"current_page":1,"from":1,"last_page":6,"links":[{"url":null,"label":"&laquo;
        Previous","active":false},{"url":"https:\/\/api.staging.thedeka.com\/v1\/organizations\/d6aac94c-5a71-4799-9c28-19fab0c95761\/families?page%5Bsize%5D=10&page%5Bnumber%5D=1","label":"1","active":true},{"url":"https:\/\/api.staging.thedeka.com\/v1\/organizations\/d6aac94c-5a71-4799-9c28-19fab0c95761\/families?page%5Bsize%5D=10&page%5Bnumber%5D=2","label":"2","active":false},{"url":"https:\/\/api.staging.thedeka.com\/v1\/organizations\/d6aac94c-5a71-4799-9c28-19fab0c95761\/families?page%5Bsize%5D=10&page%5Bnumber%5D=3","label":"3","active":false},{"url":"https:\/\/api.staging.thedeka.com\/v1\/organizations\/d6aac94c-5a71-4799-9c28-19fab0c95761\/families?page%5Bsize%5D=10&page%5Bnumber%5D=4","label":"4","active":false},{"url":"https:\/\/api.staging.thedeka.com\/v1\/organizations\/d6aac94c-5a71-4799-9c28-19fab0c95761\/families?page%5Bsize%5D=10&page%5Bnumber%5D=5","label":"5","active":false},{"url":"https:\/\/api.staging.thedeka.com\/v1\/organizations\/d6aac94c-5a71-4799-9c28-19fab0c95761\/families?page%5Bsize%5D=10&page%5Bnumber%5D=6","label":"6","active":false},{"url":"https:\/\/api.staging.thedeka.com\/v1\/organizations\/d6aac94c-5a71-4799-9c28-19fab0c95761\/families?page%5Bsize%5D=10&page%5Bnumber%5D=2","label":"Next
        &raquo;","active":false}],"path":"https:\/\/api.staging.thedeka.com\/v1\/organizations\/d6aac94c-5a71-4799-9c28-19fab0c95761\/families","per_page":10,"to":10,"total":52}}'
  recorded_at: Mon, 20 Sep 2021 18:20:26 GMT
recorded_with: VCR 6.0.0
